/*全屏页面的实现*/
html,body{
    width: 100%;
    height: 100%;
}
.ct_layout{
    width: 100%;
    height: 100%;
}
/*头部样式*/
.ct_head{
    width: 100%;
    height: 50px;
    background-color: #eee;
    border-bottom: 1px solid #eee;
    position: absolute;
}
.ct_back,
.ct_menu{
    width: 49px;
    height: 49px;
    position: absolute;
    top: 0;
    background: url("../../使用zepts实现京东项目/images/sprites.png");
    background-size: 200px 200px;
    padding: 14px;
    /*background-origin 属性规定 background-position 属性相对于什么位置来定位*/
    /*padding-box	背景图像相对于内边距框来定位。*/
    /*border-box	背景图像相对于边框盒来定位。*/
    /*content-box	背景图像相对于内容框来定位。*/
    background-origin: content-box;
    /*设置是裁剪，控制的是显示  规定背景的绘制区域：*/
    background-clip: content-box;
}
.ct_back{
    left: 0;
    background-position: -20px 0px;
}
.ct_menu{
    right: 0;
    background-position: -60px 0px;
}
.ct_search{
    width: 100%;
    height: 100%;
    padding: 0 60px;
}
.ct_search > input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
    color: #666;
    padding: 0 5px;
}
/*主体内容块样式*/
.ct_content{
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
.ct_cLeft{
    width: 100px;
    height: 100%;
    /*absolute定位之后的元素的宽高是参照父元素的宽高(包括父元素的padding)*/
    /*position: absolute;*/
    position: relative;
    overflow: hidden;
}
.ct_cLeft > ul{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ct_cLeft li{
    height: 50px;
    width: 100%;
}
.ct_cLeft li > a{
    display: block;
    color: #333;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #eee;
}
.ct_cLeft li.active > a{
    border-right: none;
    border-bottom: none;
    background-color: #fff;
    color: #e92322;
}
.ct_cRight{
    /*width: 100%;*/
    /*这里的高度是父盒子的高度-padding的高度*/
    height: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}
.ct_rImg{
    width: 100%;
    display: block;
}
.ct_rImg > img{
    width: 100%;
    display: block;
}
.ct_cRight > h3{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
}
.ct_hostCategory{
    width: 100%;
    flex: 1;
    overflow: hidden;
}
.ct_hostCategory ul{
    position: relative;
}
.ct_hostCategory li{
    width: 33.33%;
    float: left;
    text-align: center;
}
















